<div class="max-w-7xl mx-auto px-4 pt-5">
    <div class="grid grid-cols-[2fr_1fr] grid-rows-2 gap-4 h-[400px]">
        <div class="row-span-2 rounded-lg overflow-hidden shadow-xl">
            <div id="indicators-carousel" class="relative w-full h-full" data-carousel="slide">
                <div class="relative h-full overflow-hidden rounded-l">

                    <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                        <img
                                src="/assets/images/customer/samsung-banner.jpg"
                                sizes="(min-width: 1024px) 66vw, 100vw"
                                alt="iPhone"
                                class="absolute inset-0 w-full h-full object-cover"
                                loading="eager" decoding="async"
                        >
                    </div>

                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img
                                src="/assets/images/customer/iphone-banner.jpg"
                                sizes="(min-width: 1024px) 66vw, 100vw"
                                alt="Samsung"
                                class="absolute inset-0 w-full h-full object-cover"
                                loading="lazy" decoding="async"
                        >
                    </div>
                </div>

                <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                </div>

                <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full">
                      <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 1 1 5l4 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                      <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full">
                      <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1 9 4-4-4-4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                      <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
        </div>

        <a href="#" class="relative rounded-lg overflow-hidden bg-gray-200 shadow-xl">
            <img
                    src="/assets/images/customer/oppo-banner.jpg"
                    sizes="(min-width: 1024px) 33vw, 100vw"
                    alt="OPPO"
                    class="w-full h-full object-cover"
                    loading="lazy" decoding="async"
            >
        </a>

        <a href="#" class="relative rounded-lg overflow-hidden bg-gray-200 shadow-xl">
            <img
                    src="/assets/images/customer/huawei-banner.jpg"
                    sizes="(min-width: 1024px) 33vw, 100vw"
                    alt="Huawei"
                    class="w-full h-full object-cover"
                    loading="lazy" decoding="async"
            >
        </a>
    </div>

</div>
