<div class="max-w-7xl mx-auto px-4 pt-5">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div class="lg:col-span-2 rounded-lg overflow-hidden shadow-xl h-[250px] sm:h-[350px] lg:h-[400px]">
            <div class="relative w-full h-full" data-carousel="slide" id="indicators-carousel">

                <div class="relative h-full overflow-hidden rounded-l">
                    <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                        <img alt="Samsung"
                             class="absolute inset-0 w-full h-full object-cover"
                             decoding="async"
                             loading="eager" src="/assets/images/customer/samsung-banner.jpg">
                    </div>
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img alt="iPhone"
                             class="absolute inset-0 w-full h-full object-cover"
                             decoding="async"
                             loading="lazy" src="/assets/images/customer/iphone-banner.jpg">
                    </div>
                </div>

                <div class="absolute z-30 flex -translate-x-1/2 space-x-3 bottom-3 left-1/2">
                    <button class="w-3 h-3 rounded-full" data-carousel-slide-to="0" type="button"></button>
                    <button class="w-3 h-3 rounded-full" data-carousel-slide-to="1" type="button"></button>
                </div>

                <button class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-2 sm:px-4 cursor-pointer"
                        data-carousel-prev type="button">
          <span class="inline-flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 rounded-full">
            <i class="fa-regular fa-angle-left text-3xl"></i>
          </span>
                </button>
                <button class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-2 sm:px-4 cursor-pointer"
                        data-carousel-next type="button">
          <span class="inline-flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 rounded-full">
            <i class="fa-regular fa-angle-right text-3xl"></i>
          </span>
                </button>
            </div>
        </div>

        <div class="flex flex-col gap-4 lg:h-[400px]">
            <a class="flex-1 rounded-lg overflow-hidden shadow-xl" href="#">
                <img alt="OPPO"
                     class="w-full h-full object-cover"
                     decoding="async"
                     loading="lazy" src="/assets/images/customer/oppo-banner.jpg">
            </a>
            <a class="flex-1 rounded-lg overflow-hidden shadow-xl" href="#">
                <img alt="Huawei"
                     class="w-full h-full object-cover"
                     decoding="async"
                     loading="lazy" src="/assets/images/customer/huawei-banner.jpg">
            </a>
        </div>

    </div>
</div>
