header{
  .main-logo img {
    height: 70px;
    width: 150px;
  }

  .search-bar {
    border: none;
  }

  .icon {
    width: 50px; height: 50px;
    transition: all .2s ease;

    svg, .svg-inline--fa {
      width: 23px;
      height: 23px;
    }
    &:hover {
      background-color: $color-white-4;
    }
  }

  @media (min-width: 768px) {
    .icon {
      width: 50px; height: 50px;
      svg, .svg-inline--fa {
        width: 22px;
        height: 22px;
      }
    }
    .main-logo img {
      width: 150px;
      max-height: 50px;
    }
  }

  .cart-badge {
    border: 1px solid $color-white-1;
    min-width: 16px; text-align: center;
  }

  .support-box h5 { font-size: $fs-2; color: $color-black-0; }
  .support-box span { letter-spacing: $ls-1; }
}

