* {
}

.brand {
  color: $color-dark-1;
  font-size: $fs-10;
  font-weight: $fw-2;
}
.qe {
  background-color: $color-white-4;
}
.er {
  background-color: $color-white-4;
}
.rr {
  color: $color-black-0;
}
